@model List<MvcDatagridSample.Models.Users>
@{
    ViewBag.Title = "Index";
}

<h2>Sample Datagrid</h2>
<hr>

<table class="table table-hover" id="usersTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>AddressCountry</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr class="clickableRow">
            <td><a href="/Home/EditUSer?userId=@user.UsersID">@user.Name</a></td>
            <td>@user.Email</td>
            <td>@user.AddressCountry</td>
        </tr>
        }
    </tbody>
</table>



